@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* RESET  */ 
body {
    margin: 0;
    background-color: white;
}

ul,h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
/* ESTILOS DE LAS LISTAS Y EL ELEMENTO "a" */

ul {
    list-style: none;
}

li:hover {
    color: #00CAFF;
}

a {
    color: inherit;
    text-decoration: none;
}

/* FONT */

html {
    font-family: 'Poppins', sans-serif;
}
/* TITULOS PAGE AND GENERAL */
h1 {
    font-size: 52px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    font-weight: 600;
}

p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.text-lg {
    font-size: 22px;
    line-height: 35px;
}

/* VARIABLES PARA EL TAMAÑO DE LOS LOGOS */
:root {
    --main-padding: 30px;   
    --logo-size: 103px;
    --logo-middle-size: 51px;
}

/* CONTAINER PRINCIPAL */
.Container {
    max-width: 1440px;
    margin: auto;
}

/* CONTAINER PARA LAS SECCIONES CON FONDO BLANCO */
.Container-important {
    background-color: rgb(247, 247, 251);
}

/* HEADER, NAVBAR */

/* POSICION DEL HEADER Y COLOR */
.Header {
    position: sticky;
    top: 0;
    color: white;
    background-color: #000083;
    z-index: 99999;
}

/* CENTRADO DEL HEADER */
.Header__container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 8px var(--main-padding);
}
/* POSICION DENTRO DEL NAVBAR */
.Header__nav {
    flex: 1;
}

/* ESTILOS Y DISEÑOS DE LOS ITEMS DEL NAVBAR */
.Header__nav-list {
    display: inline-flex;
    gap: 60px;
}

.Header__nav-item {
    display: block;
    color: white;
}

.Header__nav-item:hover {
    color: #00CAFF;
}

/* BOTON DEL  NAVBAR */
.ContactMeButton {
    border-radius: 10px;
    border: 1px solid #2EBDF2;
    font-size: 20px;
    line-height: 26px;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 14px 50px;
    font-weight: 600;
}

.ContactMeButton:hover {
    color: var(--blue-keep, #000083);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px; /* 130% */
    border-radius: 10px;
    border: 1px solid #2EBDF2;
    background: var(--blue-2-keep, #00CAFF);
}

/* HERO */

/* POSICION */
.Hero {
    position: relative;
    color: white;
}

/* FONDO DEL HERO */
.Hero__content-overlay {
    position: relative;
    background: linear-gradient(252deg, rgba(43, 83, 229, 0.83) 0%, #000083 100%);
}

/* LAYOUT */

.Hero__Container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

/* PROPIEDADES DE LA IMAGEN DENTRO DEL HERO */
.Hero__image {
    position: relative;
    max-width: 50%;
}


.Hero__image img {
    object-fit: fill;   
}

/* CONTENIDO DENTRO DEL HERO */
.Hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px calc(var(--main-padding));
    width: min(50%, 600px);
}

/* ESPACIADO DEL TITULO DEL HERO */
.Hero__content-title {
    letter-spacing: 3px;
}

/* POSICION DEL HERO DENTRO DE LA PAGINA */
.Hero__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Hero__overlay img {
    object-fit: cover;
}

/* ESPACIADO DEL CONTENIDO DEL HERO */
.Hero__content {
    gap: 15px;
}

/* ESTILO GENERAL PARA LOS BOTONES DE LA PAGINA  */
.AppButton {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 130% */
    padding: 24px 40px;
    color: #000083;
    background: var(--blue-2-keep, #00CAFF);
    border-radius: 10px;
    border: none;
    display: inline;
    font-family: inherit;
}

.AppButton:hover{
    border-radius: 10px;
    background: #7CE4FF;
}

/* CLASE PARA LOS BOTONES MAS LARGOS */
.AppButton--large {
    min-width: 250px;
}

/* MAIN - CONTENIDO */
main {
    position: relative;
}

/* SERVICES */

/* POSICION DE LOS SERVICIOS */

.Services {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: center;
    top: -80px;
    width: 100%;
    align-items: stretch;
}

/* CAJA DE CADA SERVICIO */
.Service {
    background-color: white;
    border-radius: 36px;
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 10px;
}

/* CENTRADO Y DIRECCION DEL TEXTO INFORMATIVO DEL SERVICIO */
.Service__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* COLOR DEL TITULO Y TEXTO INFORMATIVO DEL SERVICIO */
.Service__info-title {
    color: var(--text-heading-color, #1E1D4C);
}

.Service__info-description {
    color: var(--textclr, #5E6282);
    max-width: 80%;
}

/* ACERCA DE NOSOTROS */

.We {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 80px 0;
}

/* DISEÑO DE LA IMAGEN */
.We__img img {
    border-radius: 40px;
}

/* CENTRADO DEL TEXTO INFORMATIVO */
.We__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 0 50px;
    max-width: 600px;
}

.JoinTheTeam__button {
    margin-top: 50px;
}

/* CLASE PARA TODO EL TEXTO QUE DEBA ESTAR CENTRADO */
.Title-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* COLOR Y ESTILO DE TITULOS, SUBTITULOS Y TEXTOS */
.Title-text {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    color: var(--blue-keep, #000083);
}

.Title-subtext {
    margin-bottom: 20px;
    color: var(--1, #1E1D4C);
    font-size: 20px;
    font-style: normal;   
    font-weight: 400;
    line-height: 110%; /* 22px */
    letter-spacing: 2.5px;
}

.Text {
    font-size: 20px;
    color: var(--2, #5E6282);
}

/* NUESTROS SERVICIOS */
/* TITULO DE LA SECCION */
.We__Services-title-subtext {
    color: var(--1, #1E1D4C);
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 33px */
}

.We__Services {
    padding: 80px 0;
}

.We__Services-common {
    margin-bottom: 70px;
}

/* PROPIEDADES DE LA IMAGEN */
.We__Services-box-img {
    width: 100%;
    height: 100%;
}

/* CAJA DONDE VAN LAS IMAGENES */
.We__Services-box-imgs {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}


.We__Services-box-info {
    width: 80%;
}
/* CAJA DE CADA SERVICIO */
.We__Services-box {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin: 2%;
}
/* FONT DEL TEXTO INFORMATIVO */
.We__Services-text-info {
    color: var(--2, #5E6282);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* SECCION TAMBIEN TE PUEDE INTERESAR */
/* CAJA DE IMAGENES, ALINEACION Y LAYOUT */
.We__Services-box-imgs-interest {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;   
    justify-content: center;  
    margin: 40px 0;
    gap: 40px 10px;
}

/* CAJA PARA CADA IMAGEN */
.We__Services-box-interest {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 2px;
    flex-basis: 20%;
    align-items: center;
}


/* CHOOSE YOUR TYPE, ESCOGE A TU MANERA */

/* LAYOUT */
.Choose__your-shape {
    display: flex;
    flex-direction: row;
    padding: 160px 50px;
    justify-content: space-between;
    align-items: center;
}

/* CIRCULO DE FONDO PARA CADA LOGO */
.Choose__your-shape-logo {
    color: white;
    width: calc(var(--logo-size)/1.5);
    height: calc(var(--logo-size)/1.5);
    background-color: #00CAFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(-1 * var(--logo-middle-size));
    margin-bottom: 70px;
}

.Choose__your-shape-text {
    max-width: 50%;
}

/* LAYOUT DE LOS SERVICIOS DISPONIBLES */
.Choose__your-shape-type {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    justify-items: center;
}

/* CAJA PARA CADA SERVICIO DISPONIBLE */
.Choose__your-shape-service {
    max-width: 700px;
    flex-basis: fit-content;
    padding: 40px 40px;
    border-radius: 36px;
    background: var(--white, #FFF);
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

/* TITULO DEL SERVICIO */
.Choose__your-shape-title-service {
    color: var(--text-heading-color, #1E1D4C);
    margin-bottom: 10px;
}

/* TEXTO INFORMATIVO DEL SERVICIO */
.Choose__your-shape-text-service {
    color: var(--textclr, #5E6282);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

/* INFORMACION CONTAMOS CON REPSE */
/* LAYOUT Y ALINEACION DE ITEMS */
.Text__Information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

/* TITULO */
.Text__Information-title {
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; /* 99px */
    background: linear-gradient(48deg, #000083 0%, #2EBDF2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ALINEACION DEL TEXTO  */
.Text__Information-text {
    width: 85%;
    text-align: center;
}

/* LAYOUT LOGOS */
.Text__Information-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}


/* TESTIMONYS */

/* LAYOUT */
.Testimony {
    background-color: #F7F7FB;
    border-radius: 30px;
    padding: 70px 50px;
}

.Testimony__title-width {
    max-width: 700px;
}

/* LAYOUT CAJA DE TESTIMONIOS */
.Testimony__boxes {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 47px;
    flex-basis: auto;
    margin-top: 50px;
}

/* CIRCULO DE FONDO PARA EL LOGO DE TESTIMONIO */
.TestimonyBox-logo {
    color: white;
    width: var(--logo-size);
    height: var(--logo-size);
    background-color: #000083;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(-1 * var(--logo-middle-size))
}

/* LAYOUT PARA CADA CAJA DE TESTIMONIO */
.TestimonyBox {
    margin-top: var(--logo-middle-size);
    position: relative;
    max-width: 350px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: linear-gradient(0deg, var(--white, #FFF) 0%, var(--white, #FFF) 100%), #393E35;
    padding: calc(var(--logo-middle-size) + 20px) 20px 20px 20px;

    /* sombra1 */
    box-shadow: 0px 1.8518518209457397px 3.1481480598449707px 0px rgba(0, 0, 0, 0.00), 0px 8.148148536682129px 6.518518447875977px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.51852035522461px 25.481481552124023px 0px rgba(0, 0, 0, 0.01), 0px 64.81481170654297px 46.85185241699219px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}

/* FOOTER DE LA CAJA DE TESTIMONIO */
.TestimonyBox__footer-text {
    color: var(--1, #1E1D4C);
    font-weight: 600;
}

/* COLOR TEXTO INFORMATIVO DEL TESTIMONIO */
.TestimonyBox-text {
    text-align: center;
    color: #5E6282;
}

/* BRANDS, MARCAS */
/* LAYOUT */
.Brands {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding-top: 7% ;
}

/* CAJA  PARA CADA BLOQUE DE MARCAS EN FILA*/
.Brands__box {
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 100px;
    
}

/* CONTACT, CONTACTANOS */ 
.Contact {
    display: flex;
    flex-direction: row;
}

/* LAYOUT  MENSAJE DE CONTACTANOS*/
.Contact__information {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 3%;
}

/* TITULO DE CONTACTANOS */
.Contact__information-Title-text{
    color: var(--blue-keep, #000083);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 101.523%; /* 60.914px */
}

/* FORMULARIO CONTACTANOS */
.Contact__form {
    width: 100%;
    margin: 2%;
    padding: 2%;
}

.Contact__form-button{
    margin: 20px 0px;
}

/* ESTILO PARA CADA INPUT DEL FORMULARIO */
.Contact__input {
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: #F7F7FB;
    padding-left: 40px;
    margin: 1%;
}

/* ESTILO PARA EL ICONO DE CADA INPUT */
.input-icon {
    color: #191919;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/* CAJA DONDE SE PONDRA CADA INPUT */
.Contact__input_div {
    position: relative;
    width: 100%;
}

/* LAYOUT DEL TEXT AREA */
.Contact__text-area {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    background: #F7F7FB;
    padding-left: 40px;
    margin: 1%;
    resize: none;
}
/* POSICION DEL ICONO DENTRO DEL DIV DE TEXT AREA */
.input-icon-text-area {
    color: #191919;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 12px;
    top: 10%;
    transform: translateY(-10%);
}

/* CAJA DONDE SE PONDRA CADA TEXT AREA */
.Contact__text-area-div {
    position: relative;
    width: 100%;
    height: 100px;
}

/* FOOTER */
/* COLOR Y PADDING */
footer {
    background-color: #000083;
    padding: 50px 0;
}

/* LAYOUT */
.Footer {
    display: flex;
    align-items: center;
    color: white;
    gap: 200px;
    margin-bottom: 50px;
}

/* LOGO */
.Footer__logo-img {
    max-width: 200px;
}

/* SECCION ICONOS DE REDES SOCIALES */
.Footer__logo-icons {
    display: flex;
    flex-direction: row;
    gap:20px;
}

/* CIRCULO PARA EL FONDO DEL ICONO */
.Footer__logo-icon {
    color: white;
    width: calc(var(--logo-size)/3);
    height: calc(var(--logo-size)/3);
    background-color: #00CAFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(-1 * var(--logo-middle-size));
}

/* CENTRAR LOS ELEMENTOS QUE ESTEN DENTRO DE UN "a" PARA CONVERTIRLO A LINK */
.Footer__logo-icon-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* TEXTO INFORMATIVO DEL FOOTER */
.Footer__info {
    display: inline-flex;
    gap: 80px;
}

/* TITULO DE CADA CATEGORIA DEL FOOTER */
.Footer__category-title {
    margin-bottom: 10px;
}
/* CUANTO VA A OCUPAR CADA CATEGORIA DEL FOOTER */
.Footer__category {
    flex-basis: 33.333%;
}

/* LINEA DE SEPARACION DEL FOOTER */
.divider {  
    margin: 0;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

/* PARTE FINAL DEL FOOTER COPYRIGHT */
.Footer__hr {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}






